/* Font and font family for all text */
*{
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

header {    
    font-size: 20px;    
    background-color: lightcyan;
    color: rgb(53, 206, 206);
}

body{
    background-color: lig;
}
img:hover {
    position: relative;
    top: -4px;
}
ul {  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(53, 206, 206);
    position: sticky;
    top: 0;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: darkcyan;
    text-decoration: underline;
}
h2 {
    padding: auto;
    background-color: rgb(53, 206, 206);
    color: white;
    
}
main p::first-line{
    font-weight: bold;

}
main P::selection{
    background-color: tomato;
    color: white;
}
form {    
    box-sizing: border-box;
    padding: 20px;
    margin: auto;
    width: 50%;    
    border: solid;
    background-color: lightcyan;
    border-color: darkcyan;
    border-radius: 5px;
}
form input{
    border: 2px solid lightgrey;
}
form input:focus{
    outline-color: lightgrey;
}

/* Style the footer */
footer{
    color: black;
    font-size: small;
    background-color: rgb(53, 206, 206);
}
.aligncenter{
    text-align: center;
}